@import "colors/base16/base16-gruvbox-dark-hard.css";
* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Ubuntu Nerd Font, Cantarell, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    min-height: 0;
    color: @base06;
}

window#waybar {
    background-color: @base00;
    border-bottom: 0px solid rgba(100, 114, 125, 0.5);
    color: @base06;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    color: @base06;
    background-color: transparent;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    box-shadow: inset 0 -3px @base0D;
}

#workspaces button.focused {
    box-shadow: inset 0 -3px @base0E;
}

#workspaces button.urgent {
    background: @base00;
    color: @base06;
    box-shadow: inset 0 -3px @base08;
}

#mode {
    box-shadow: inset 0 -3px @base0E;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-pomd,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
}

#window,
#workspaces {
    margin: 0 2px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    /*"format": "{:%h:%M}";*/
}

#battery {
}

#battery.charging {
    box-shadow: inset 0 -3px @base0B;
}

@keyframes blink {
    to {
        background-color: @base06;
        color: @base00;
    }
}

#battery.critical:not(.charging) {
    box-shadow: inset 0 -3px @base08;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
}

#memory {
}

#backlight {
}

#network {
}

#network.disconnected {
    box-shadow: inset 0 -3px @base0B;
}

#pulseaudio {
}

#pulseaudio.muted {
    box-shadow: inset 0 -3px @base0A;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
}

#temperature.critical {
    box-shadow: inset 0 -3px @base0B;
}

#tray {
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
    color: @base0E;
}

#mpd {
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

